<h2>Submit A New Question</h2>
<div class="questions-form">
	<form action="/questions/:id" method="post">
		<input type="text" name="question[title]" placeholder="Title of your question" />
		<input type="text" name="question[body]" placeholder="Body (Optional)" />
		<input type="submit" value="Submit Your Question">
	</form>
</div>