<div class="homepage-wrapper">
	<% @questions.each do |question|%>
	<ul>
		<a href="/questions/<%= question.id %>"><li><%= question.title %></li></a>
		<p>Answers: <%= question.answers.count %></p>
		<p><%= question.questioner.username %></p>
	</ul>
	<% end %>
</div>
<% if logged_in? %>
<div class="question-section">
	<div class="question-wrapper">
		<div id="post-question">
			<a href='/questions/new'>Post a question!</a>
		</div>
	</div>
</div>
<%end%>
