<% @questions.each do |question|%>
  <ul>
    <a href="/questions/<%= question.id %>"><li><%= question.title %></li></a>
      <p><%= question.questioner.username %></p>
  </ul>
<% end %>


<% if logged_in? %>
  <a href='/questions/new'>Post a question!</a>
<%end%>
