<form action="/comments" method="post">
  <label for="response">Leave a comment:</label>
  <input type="text" name="body" placeholder="type your comment here">
  <input type="submit" value="submit">
</form>
