<div class="form-section">
  <div class="form-wrapper">
    <h2>Create An Account</h2>
    <form class="sign-up" action="/users" method="post">
      <div>
        <label for="full_name">Full Name: </label>
        <input class="form-fields" type="text" name="user[full_name]">
      </div>
      <div>
        <label for="username">Username: </label>
        <input class="form-fields" type="text" name="user[username]">
      </div>
      <div>
      <label for="email">Email: </label>
      <input class="form-fields" type="text" name="user[email]">
      </div>
      <div>
      <label for="password">Password: </label>
      <input class="form-fields" type="password" name="user[password]">
      </div>
      <br>
      <%= erb :_errors %>
      <br>
      <input class="submit-button" type="submit" value="create account">
    </form>
  </div>
</div>