<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Teko" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/homepage.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>
    <title></title>
  </head>
  <body>
    <div id="layout-container">
      <header>
        <div id="title">
          <a href="/"><h1>Mighty Morphin Stack Overfloweranger</h1></a>
        </div>
        <div id="header-links">
          <% if logged_in? %>
          <ul>
            <li><a href="/users/<%= current_user.id %>">Profile</a></li>
            <span>|</span>
            <li><a href="/logout">Logout</a></li>
          </ul>
          <% else %>
          <ul>
            <li><a href="/users/new">Register</a></li>
            <span>|</span>
            <li><a href="/login">Login</a></li>
          </ul>
          <% end %>
        </div>
      </header>
      <%= yield %>
    </div>
  </body>
</html>